<%= form_for([@organization, content]) do |f| %>
    <% if content.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(content.errors.count, "error") %> prohibited this content from being saved:</h2>

          <ul>
            <% content.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-group">
      <%= f.label :source %>
      <%= f.url_field :source, placeholder: t('placeholder.content.source'), required: true, autofocus: true %>
    </div>

    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, placeholder: t('placeholder.content.title') %>
    </div>

    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_area :description, placeholder: t('placeholder.content.description') %>
    </div>

    <div class="form-group">
      <%= f.label :comment %>
      <%= f.text_area :comment %>
    </div>

    <div class="form-group">
      <%= f.label :importance %>
      <%= f.select :importance, options_for_select([[t(:"content.importance.0"), 0], [t(:"content.importance.1"), 1], [t(:"content.importance.2"), 2]], 0), {}, class: 'select2-no-search' %>
    </div>

    <div class="form-group">
      <%= f.label :tags %>
      <%= f.collection_select :tag_ids, Tag.by_organization(@organization), :id, :name, {}, {multiple: true, class: 'select2'} %>
    </div>

    <div class="form-group">
      <%= f.submit %>
    </div>


    <%= link_to t('content.delete'), organization_content_path(@content.organization, @content), method: :delete, data: {confirm: "Are you sure?"} unless content.new_record? %>
<% end %>
