<% content_for :header do %>
    <%= render partial: 'shared/header', locals: {current: nil} %>
<% end %>

<h1>Contents</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contents.each do |content| %>
      <tr>
        <td><%= link_to 'Show', organization_content_path(@organization,content) %></td>
        <td><%= link_to 'Edit', edit_organization_content_path(@organization,content) %></td>
        <td><%= link_to 'Destroy', delete_organization_content_path(@organization,content), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Content', new_organization_content_path(@organization) %>
