<% content_for :header do %>
    <%= render partial: 'shared/header', locals: {current: nil} %>
<% end %>

<div class="article">

  <div class="article-header">
    <h2 class="article-title"><%= @content.title %></h2>
    <p class="article-date">
      <i class="material-icons">query_builder</i>
      <%= @content.created_at.to_date %>
    </p>
    <div class="article-tags">
      <% @content.tags.each do |t| %>
          <span class="tag"><%= t.name %></span>
      <% end %>
    </div>

    <div class="article-importance">
      <span><%= t(:"content.importance.#{@content.importance}") %></span>
    </div>
  </div>

  <p class="article-description"><%= @content.description %></p>

  <div class="article-image" style="background-image: url('<%= @content.try(:image_url).try(:html_safe) %>');background-position: center center;background-repeat: no-repeat;background-size:cover;"></div>

  <p class="article-comment"><%= @content.comment %></p>

  <div class="article-footer">
    <a class="later btn <%= 'active' if ContentsSaved.is_saved_to_read?(@content, current_user)%>" href="<%= organization_content_to_read_path(@organization, @content) %>" data-method="post" data-remote="true"><%= t('content.read_lated') %></a>
    <a class="like-content <%= 'active' if ContentsSaved.is_liked?(@content, current_user) %>" href="<%= organization_content_like_path(@organization, @content) %>" data-method="post" data-remote="true">
      <p>Like</p>
      <div class="like-btn">
        <span class="counter"></span>
        <i class="material-icons">favorite</i>
      </div>
    </a>
    <a class="go btn" href="<%= @content.source %>" target="_blank"><%= t('content.access_source') %></a>
  </div>

  <!-- <%= @organization.name %> -->
</div>


