<% unless try(:devise_error_messages!).try(:blank?) %>
    <div class="alert alert-success">
      <i type="button" class="material-icons">close</i>
      <%= devise_error_messages! %>
    </div>
<% end %>

<div class="main-block">
  <h2><%= t('edit_password.welcome')%></h2>

  <p class="welcome-message">
    <%= t('edit_password.welcome_message')%>
  </p>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :put}) do |f| %>
      <%= f.hidden_field :reset_password_token %>

      <div class="form-group">
        <%= f.password_field :password, autofocus: true, autocomplete: 'off', placeholder: t('placeholder.login.password'), class: '' %>
        <% if @minimum_password_length %>
            <p class="help-block">(<%= @minimum_password_length %> characters minimum)</p>
        <% end %>
      </div>

      <div class="form-group ">
        <%= f.password_field :password_confirmation, autocomplete: 'off', placeholder: t('placeholder.login.password_confirm'),class: '' %>
      </div>

      <div class="form-group">
        <%= f.submit "Change my password", class: '' %>
      </div>

      <%- if controller_name != 'sessions' %>
          <%= link_to t('back_to_login'), new_session_path(resource_name) %><br />
      <% end -%>
  <% end %>

</div>