<header class="navbar">
  <div class="nav navbar-header">
    <%= link_to t(:app_title), root_path, class: 'navbar-brand' %>
  </div>

  <ul class="nav navbar-left">
    <% if user_signed_in? %>
        <%= content_tag :li, (link_to t(:organizations), organizations_path), class: ('active' if current == :organizations) %>
        <% if @organization.try(:id) %>
            <%= content_tag :li, (link_to t(:tags), organization_tags_path(@organization)), class: ('active' if current == :tags) %></li>
        <% else %>

        <% end %>
    <% end %>
  </ul>


  <%= form_tag search_path(), method: :post, class: 'nav navbar-form' do %>
      <div class="form-group">
        <%= text_field_tag :search, '', placeholder: t(:search), class: 'form-control' %>
      </div>
  <% end %>


  <ul class="nav navbar-right">
    <% if user_signed_in? %>
        <%= content_tag :li, (link_to t(:sign_out), destroy_user_session_path, method: :delete) %></li>
    <% else %>

    <% end %>
  </ul>

</header>