<%= form_for(organization) do |f| %>
  <% if organization.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(organization.errors.count, "error") %> prohibited this organization from being saved:</h2>

      <ul>
      <% organization.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label t('organzation.label.name'), class: '' %>
    <%= f.text_field :name, placeholder: t('placeholder.new_organization.name') %>
  </div>

  <div class="form-group">
    <%= f.submit (@organization.new_record? ? t(:organization_new_submit) : t(:organization_edit_submit)), class: 'btn btn-raised btn-primary' %>
  </div>
<% end %>
